*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #090a0e;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mo{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

header{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.appTitle{
  font-size: 35px;
  color: greenyellow;
}

.container{

  display: grid;
  gap: 15px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-movie{
  min-height: 400px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.top-movie-content{
  font-style: italic;
}

.top-movie-title{
  font-size: 65px;
}

.button{
  background-color: rgb(43, 42, 42);
  color: greenyellow;
  border-radius: 3%;
  border-color: greenyellow;
}

.searchbar{
  border-color: greenyellow;
  border-radius: 6%;
  border-width: 2px;
}